{{ $data := index site.Data site.Language.Lang }}

{{ if $data.collaborator.collaborator.enable }}
{{ with $data.collaborator.collaborator }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="collaborator section" id="collaborator">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>
		
		<div class="row shuffle-wrapper justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{ range .portfolio_item }}
			<div class="col-lg-3 col-md-6 shuffle-item" data-groups="[{{range $index, $element:= .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
				<a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
				<image class="img-fluid mb-4" style="height: 75px;" src="{{ .image | absURL }}" alt="{{ .name }}"></image>
				</a>
			</div>
			{{ end }}
		</div>		
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
{{ end }}
